.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  //padding: 20px 0;
  z-index: 1000;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin: 0;
  color: white;
  font-size: 23px;
}

.logo:hover{
  cursor: pointer;
}

.logo-container {
  flex-grow: 1; /* El contenedor del logotipo ocupará el espacio disponible */
  text-align: center; /* Centra el logotipo */
}

.contact {
  margin-right: 0;
  color: white;
  font-size: 23px;
  position: relative;
  display: inline-block;
  margin-right: 0;
}

.contact:hover{
  cursor: pointer;
}

.line {
  position: absolute;
  bottom: 40%;
  margin-left: 5px;
  left: 100%; /* Inicialmente, colocamos la línea al lado derecho del texto */
  width: 0; /* Ancho inicial de la línea */
  height: 2px;
  background-color: white;
  transform-origin: left; /* Ajustamos el origen de la transformación */
}
 .letter{
  color: var(--color-secundario);
 }
