.main{
  width: 100%;
  height: 200%;
  color:var(--color-blanco);
  font-size: 70px;
}

.imagenPerfil{
  margin-top: 80px;
  display: flex;
}

.imagenIsmael{
    width: 450px;
    height: 300px;
    border: 2px solid var(--color-secundario);
    border-radius: 100%;

    // background: rgb(255,178,146);
    // background: radial-gradient(circle, rgba(255,178,146,1) 0%, rgba(254,82,11,1) 100%);
    background: var(--color-blanco);
    background: radial-gradient(circle, var(--color-blanco) 0%, rgba(0,0,0,1) 54%);
}


.marquee {
  margin-left: -20px;
  height: 6%;
  width: 200%;
  font-size: 40px;
  background-color: var(--color-blanco);
  color:var(--color-principal);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.a2{
  margin-left: -1837px;
  z-index: -1;
}

.iconoLuky{
  width: 130px;
  height: 50px;
}

.letra-grande{
  font-size: 15rem;
  font-family: 'Stretch';
}

.imDesc{
  display: flex;
  position: relative;
}

.d1{
  margin-top: 80px;
}

.caraSVG{
  position: absolute; /* Posición absoluta para colocar el SVG en relación con su contenedor */
  top: 70px; /* Distancia desde la parte superior */
  left: 201px; /* Distancia desde la izquierda */
  width: 320px; /* Ancho del SVG */
  height: auto; /* Altura automáticamente escalada */
}

.descripcion{
  font-size: 40px;
}

.fas{
  margin-left: -275px;
}

.arrow{
  margin-top: 420px;
}

//Tooltip
.tooltip-container {
  position: relative; /*relative: los elementos se posicionan de forma relativa a su posición normal.*/
  display: inline-block;
  font-size: 17px;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 219, 0);
  border-radius: 100%;
  box-shadow: 0 0 7px 1px rgb(79, 255, 79), 0 0 7px 1px rgb(79, 255, 79), 0 0 7px 1px rgb(79, 255, 79), 0 0 7px 1px rgb(79, 255, 79);
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 219, 0);
  color: var(--color-blanco);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Posiciona el tooltip bajo del elemento */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
 .tooltip-container:hover{
  cursor: pointer;
 }

 //DVDEffect
 #dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
  width: 80px;
  mask: url("../../../../assets/images/iconLuky.svg");
  -webkit-mask: url("../../../../assets/images/iconLuky.svg");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
  z-index: 3;
}
