<div class="main neo">
  <div id="dvd"></div>
  <div class="imDesc">
    <div class="box2d imagenPerfil">
      <img class="imagenIsmael" src="assets/images/perfilImg.png">
      <div class="tooltip-container">
        <span class="tooltip-text">Disponible para trabajar</span>
       </div>
    </div>
    <div (mouseenter)="arrowDie()" class="arrow">
      <i class="fas fa-solid fa-angles-down"></i>
    </div>
    <div class="descripcion" >
      <div class="d1">
        <p><span class="letra-grande">E</span>y!, soy <u>Ismael</u> Cariñanos Sáenz de Jubera.</p>
      </div>
      <div class="d1">
        <!-- Un Ingeniero Informático graduado en la Universidad de La Rioja. Mi pasión por la programación y el desarrollo web me ha llevado a destacar
          por mi enfoque creativo y constante. <br>Siempre busco oportunidades para integrarme en equipos donde pueda aplicar y mejorar mis habilidades, así
          como adquirir nuevas competencias. <br>Además de mi experiencia en proyectos web, también me aventuro en el emocionante ámbito de la programación orientada
          al desarrollo de videojuegos. La posibilidad de crear mundos interactivos y experiencias envolventes despierta mi creatividad y me impulsa a explorar nuevas
          técnicas y tecnologías. -->
        <p>Un <u>Ingeniero Informático</u> graduado en la Universidad de La Rioja.<br> Mi pasión por la <u>programación</u> y el desarrollo web me ha llevado a destacar
          por mi enfoque <u>creativo y constante</u>.</p>
      </div>
      <div class="d1">
        <p>Siempre busco oportunidades para integrarme en equipos donde pueda aplicar y mejorar mis <u>habilidades</u>, así
          como adquirir <u>nuevas competencias</u>.</p>
      </div>
      <div class="d1">
        <p>Además de mi experiencia en proyectos web, también me aventuro en el emocionante ámbito de la programación orientada
          al <u>desarrollo de videojuegos</u>. La posibilidad de crear mundos interactivos y experiencias envolventes despierta mi creatividad y me impulsa a explorar
          <u>nuevas técnicas y tecnologías.</u></p>
      </div>
      <!-- <div class="d1">
        <p><span class="letra-grande">E</span>y!, soy Ismael Cariñanos Sáenz de Jubera.</p>
      </div>
      <div class="d2">
        <p>Ingeniero Informático graduado en la Universidad de La Rioja, apasionado por la programación y el desarrollo web.</p>
      </div>
      <div class="d3">
        <p>Destaco por mi enfoque creativo y constante.</p>
      </div>
      <div class="d4">
        <p>Busco integrarme en un equipo donde pueda aplicar y mejorar mis habilidades, así
          como adquirir nuevas competencias.
        </p>
      </div> -->
    </div>
  </div>

  <div style="font-family: 'Stretch';" class="marquee">
    <div class="item i">
      Ismael
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item" style="color:var(--color-secundario);">
      Luuky
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item i">
      Ismael
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item" style="color:var(--color-secundario);">
      Luuky
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item i">
      Ismael
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item" style="color:var(--color-secundario);">
      Luuky
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item i">
      Ismael
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
    <div class="item" style="color:var(--color-secundario);">
      Luuky
    </div>
    <div class="item">
      <img class="iconoLuky" src="assets/images/iconoLuky.png" alt="">
    </div>
  </div>

  <div class="mis aptitudes">
    <p style="font-family: 'Stretch';">AAptitudes Tecnoológicas</p>
    <div class="tecnologias">
      <app-iconos-tecno [tecnologia]="'devicon-angular-plain'" [nivel]="75"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-php-plain'" [nivel]="65"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-java-plain'" [nivel]="80"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-javascript-plain'" [nivel]="60"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-mysql-plain'" [nivel]="70"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-cplusplus-plain'" [nivel]="75"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-kotlin-plain'" [nivel]="30"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-csharp-plain'" [nivel]="60"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-ionic-original'" [nivel]="43"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-python-plain'" [nivel]="37"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-html5-plain'" [nivel]="90"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-css3-plain'" [nivel]="60"></app-iconos-tecno>
      <app-iconos-tecno [tecnologia]="'devicon-laravel-original'" [nivel]="50"></app-iconos-tecno>
    </div>
  </div>
  <div class="Experiencia">
    <p style="font-family: 'Stretch';">Expperienncia</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, adipisci soluta, voluptatibus ipsum maxime impedit commodi accusamus expedita similique dolorum voluptas? Totam in nostrum recusandae repellat animi aperiam inventore voluptates?</p>
  </div>
</div>
