<div class="contacto">
  <div class="formulario">
    <form [formGroup]="checkoutForm" action="">
      <div class="nombre">
        <label for="nombre">
          Nombre de empresa, o personal
        </label>
        <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre de empresa, o personal">
      </div>
      <div class="email">
        <label for="email">
          Email válido
        </label>
        <input id="email" type="text" formControlName="email" placeholder="Email válido">
      </div>
      <div class="mensaje">
        <label for="mensaje">
          Mensaje
        </label>
        <textarea id="mensaje" type="textarea" formControlName="mensaje" placeholder="Mensaje"></textarea>
      </div>
    </form>
  </div>
  <div class="texto">
    <p style="margin-bottom: -50px;">¡ Para cualquier consulta !</p>
    <p class="titulo">CooNTACTAME</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum officiis voluptatum id facilis mollitia dolores in odio debitis fugiat ut, ipsum consequuntur, architecto deserunt vero error exercitationem excepturi obcaecati rem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A id dolore numquam esse. Unde explicabo labore sed qui omnis, perspiciatis natus, vitae maiores hic magni deleniti odit illum? Ducimus, perferendis.</p>
  </div>
</div>
