.tarjetas{
  display: flex;
  gap: 15px;
}

.foto{
  width: 225px;
  height: 225px;
}

.texto{
  margin-top: -45px;
}

.titulo{
  margin-bottom: -50px;
  font-size: 55px;
}

.descripcion{
  font-size: 35px;
}

.tiempo{
  font-size: 25px;
}

