@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-custom {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family :'Stretch';
  src:url(../fonts/stretch/StretchPro.otf);
}

@font-face{
  font-family :'Neo';
  src:url(../fonts/stretch/Y2K_neophyte.ttf);
}

.neo{
  font-family: 'Neo';
}

:root {
  --color-principal: #111111;
  --color-blanco: white;
  --color-secundario: #fe520b;
}

html, body { height: 100%;}

body {
  //background-color: #000;
  font-family: 'Stretch';
  color: var(--color-blanco);
  //margin-top: 80px; /* Asegura que el contenido no quede oculto detrás del header */
  padding: 20px;
}
body {
  background-color: var(--color-principal);
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-blanco);
  border-radius: 55px;
}
