<div id="container">
  <div class="a name flex-h align-t">
    <div class="ribbon-top"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r1"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r2"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r3"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r4"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r5"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-top r6"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>

    <div class="ribbon-bot"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb1"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb2"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb3"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb4"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb5"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>
    <div class="ribbon-bot rb6"><span>Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down // Scroll Down</span></div>

    <div class="tit1">
      <p class="proyec">Prooyectos</p>
      <p class="proyec2">Prooyectos</p>
    </div>
    <!-- <div class="text-bubble nudge-down">ISMAEL</div> -->
  </div>
  <div class="a job">
    <p class="letter">HHell Hopper</p>
    <p class="letter" style="font-size: 30px;">Un videojuego desarrollado por RiojaDevs, empresa exitosa de videojuegos de la que soy socio fundador.</p>
  </div>
  <div class="a socials">
    <p class="letter">SooCIALSS</p>
  </div>
</div>
